{% extends "base.html.twig" %}

{% block refresh %}
  {% if not isOwner and not game.isVictory %}
    <meta http-equiv="refresh" content="1">
  {% endif %}
{% endblock %}

{% block header %}
  <div class="section">
    {% if game.isVictory %}
      <h5>Congratulations, you have solved the puzzle in {{ game.turn }} turns!</h5>
    {% else %}
      <h5>Turn {{ game.turn }}</h5>
      {% if isOwner %}
        <p>Try to solve the puzzle by clicking on the tiles you want to move</p>    
      {% else %}
        <p>You can only watch this puzzle. Create a <a href="{{ path('game_new')}}">new game</a> to play.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="row">
      {% include 'grid.html.twig' with {'game': game, 'readOnly': game.isVictory or not isOwner} %}
    </div>
    <div class="row">
      {% if game.isVictory %}
        <a class="btn" href="{{ path('index') }}"><i class="material-icons left">keyboard_return</i>Back to home</a>
        <a class="btn blue" href="{{ path('game_new') }}"><i class="material-icons left">add_circle_outline</i>Start a new game</a>
      {% elseif isOwner %}
        <a class="btn red" href="{{ path('game_cancel', {'id': game.id}) }}"><i class="material-icons left">cancel</i>Cancel</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
